body {
    font-family: 'Gotham Rounded', sans-serif !important;
    color: #333333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

}

header {
    background-color: #00bfff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin: 0 10px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
}


h2
{
    font-size: 50px;
    margin: 20px;
}

.intro .empty

{
    margin: -20px;
    height: 350px;
}

.definição

{
    margin: 2rem auto;
    width: 65%;
}

.tipos

{
    margin: 2rem auto;
    width: 71%;
}

footer {
    font-family: SansSerif;
    font-weight:bold;
    background-color: #00bfff;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer a:link {
    color: white;
}

/* visited link */
footer a:visited {
    color: darkslateblue;
}

/* mouse over link */
footer a:hover {
    color: black;
}

.navbar-custom {
    background-color: #00bfff;
}

.navbar a{
    font-family: 'Gotham Rounded', sans-serif;
    color: white;
}

main a:link {
    color: black;
}

/* visited link */
main a:visited {
    color: darkslateblue;
}

/* mouse over link */
main a:hover {
    color: darkslateblue;
}

.card-body{
    background: url("../Imagens/consequenciassociais.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.easyread{
    background-color: rgba(245, 245, 245, .5) ;
    color: black;
    width: fit-content;
    padding: 5px;
}

.easyreadmain{
    background-color: rgba(245, 245, 245, .8) ;
    color: black;
    width: fit-content;
    padding: 5px;
}

h4{
    padding: 10px;
}

.pinicial{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;


}

#collapseheader{
    color:black;
}

.mainheader{
    background-color: lightgrey;
}

